[submodule "playground/submodules/rapidsms"]
	path = playground/submodules/rapidsms
	url = git://github.com/rapidsms/rapidsms-core-dev.git
[submodule "playground/submodules/rtwilio"]
	path = playground/submodules/rtwilio
	url = git://github.com/caktus/rapidsms-twilio.git
