from playground.settings import *

DATABASE_ENGINE = 'sqlite3'
DATABASE_NAME = 'playground.db'

INSTALLED_BACKENDS['twilio'].update({
    'host': 'localhost',
    'port': '8081',
    'config': {
        'account_sid': 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
        'auth_token': 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY',
        'number': '(###) ###-####',
        'callback': 'http://localhost:8000/twilio/status-callback/',
    }
})
